<div style="padding-left: 10%; padding-right: 10%;">


    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a  href="#"></a>
    </div>


    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Photos</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'cabo/arms.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'cabo/arms.JPG'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'cabo/beach.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'cabo/beach.JPG'%>" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'cabo/hats.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'cabo/hats.JPG'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'cabo/hut.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'cabo/hut.JPG'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'cabo/lastsupper.jpg'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'cabo/lastsupper.jpg'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'cabo/beach2.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'cabo/beach2.JPG'%>" alt="">
                </a>
            </div>

        </div>

    </div>
    <hr>

    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'pics2/init2015.jpg'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'pics2/init2015.jpg'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'pics2/initnew.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'pics2/initnew.JPG'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'pics2/meal2.jpg'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'pics2/meal2.jpg'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'pics2/mealfull.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'pics2/mealfull.JPG'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'pics2/protpres.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'pics2/protpres.JPG'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'pics2/protpres2.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'pics2/protpres2.JPG'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'pics2/protpres3.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'pics2/protpres3.JPG'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'pics2/protpresballons.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'pics2/protpresballons.JPG'%>" alt="">
                </a>
            </div>

        </div>

        <hr>

    </div>
    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'pics1/basketball.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'pics1/basketball.JPG'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'pics1/2pres.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'pics1/2pres.JPG'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'pics1/chapter.jpg'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'pics1/chapter.jpg'%>" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="<%= image_path 'pics1/paradise.JPG'%>" data-lightbox="hello" class="thumbnail" href="#">
                    <img class="img-responsive" src="<%= image_path 'pics1/paradise.JPG'%>" alt="">
                </a>
            </div>


        </div>

        <hr>

    </div>


    <div class="col-md-12">
        <div class="col-md-3">
            <h3>Brotherhood</h3>
            <ul>
                <li>    Weekly Treehouse late nights
                </li>
                <li>    Group dinners on campus and in Palo Alto
                </li>
                <li>    SF Alumni Nights
                </li>
                <li>    Fleming’s Happy Hours
                </li>
                <li>    Fountain Hopping
                </li>
                <li>    Laser Tag
                </li>
                <li>    Intramural sports
                </li>
                <li>    Dish Hikes
                </li>
                <li>    Tahoe Ski Trips
                </li>
                <li>    Cabo Spring Break
                </li>
                <li>    National Conventions
                </li>
                <li>    Regional Conclaves
                </li>

            </ul>

        </div>
        <div class="col-md-3">
            <h3>Jewish Identity</h3>
            <ul style="font-size: 20px;">
                <li>    Challah for Hunger
                </li>
                <li>    Chocolate Seder
                </li>
                <li>    Rally Against Anti-Semitism
                </li>
                <li>    Israel Block Party (Independence Party)
                </li>

            </ul>
        </div>
        <div class="col-md-3">
            <h3>Community</h3>
            <ul style="font-size: 20px;">
                <li> Mixers with sororities</li>
                <li>    Formal
                </li>
                <li>    All-Campus parties
                </li>
                <li>    Leland Stanford Jr.’s Bro Mitzvah
                </li>
                <li>    Tailgates
                </li>

            </ul>
        </div>
        <div class="col-md-3">

            <h3>Philanthropy</h3>
            <ul style="font-size: 20px;">
                <li>    Autism Speaks U
                </li>
                <li>    ONE Global Poverty Initiative
                </li>
                <li>    Aiding Hearts
                </li>

            </ul>
        </div>

    </div>

</div>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });

</script>

